<!DOCTYPE html>
<html>

<head>
    <title>ShowCase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Discription" content="A description of the site that will show up in search engine result.">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/ShowCase.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-18W06453WT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-18W06453WT');
</script>	 -->
</head>

<body>
    <header>
        <img src="../image/roses-2090840_960_720.jpg" alt="header" width="1500" height="600">

        <div class="centerLoad">
            <h1>Our ShowCase</h1>
            <h5 class="centerLoadSmall">Our ShowCase</h5>
            <h3>Astrophysicst</h3>
        </div>

    </header>
    <div class="navbar">
        <div class="navbarIn">
            <a href="../index.html" class="link">Home</a>
            <a href="https://www.paypal.com/donate?hosted_button_id=M9PR8DLLFUTVW" class="link"> Donate</a>
            <a>
                <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="M9PR8DLLFUTVW" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_KE/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </a>
            <!--<a href="https://vcfjpwhspnypkeiit8nv2w-on.drv.tw/www.FLEX FILE.com/research.html">ResearchPage</a>-->
        </div>
    </div>

    <div class="column">

        <div class="frame"> <img src="https://cdn.pixabay.com/photo/2015/01/12/05/54/jerusalem-597025_960_720.jpg" alt="Aqsa mosque in Palastine">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="frame"> <img src="https://cdn.pixabay.com/photo/2015/11/18/15/44/france-1049333_960_720.jpg" alt- "A couple sitting near by the beach">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="frame">
            <video controls="">	
				
				<source type="video/mp4" src="../music/NeverGiveUp.mp4"></source>	
			</video>
            <!--<iframe width="100%" height="auto" src="https://www.youtube.com/embed/_ybRxT53xls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <br><br><br>
            <img src="../image/SYL.jpg" alt="SYL image">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="frame"> <img src="https://cdn.pixabay.com/photo/2015/12/19/20/32/paper-1100254_960_720.jpg" alt="Paper heart">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>


        <div class="frame">
            <audio controls="">
			    <source src="../music/meetMe.mp3" type="audio/mpeg">
			    your browser does not support the audio element.
			</audio>

            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="frame"><img src="https://cdn.pixabay.com/photo/2017/06/15/11/51/learn-2405206_960_720.jpg" alt="Girl looking at Quadratic equation">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

    <div class="video">
        <div class="videoplay">
            <video autoplay muted loop id="myVideo">
	  				<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"  type="video/mp4">
	  				Your browser does not support HTML5 video.
				</video>
        </div>

    </div>

    <footer>
        <a href="#">
            <i class="fa fa-arrow-up">
				
			</i> Back to top
        </a>
        <address>
			<p>Blog maintainer: <a href="mailto:edupercatson00@gmail.com">Eduper Catson</a></p>
		</address>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="M9PR8DLLFUTVW" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_KE/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </footer>

</body>

</html>